<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin</title>
    </head>
    <body>
        <div class="container">
                <h1 style= "width: 300px; margin: 0 auto; margin-top: 10%;">Admin Permissions</h1>
        </div>
        <div style="margin-top: 8%;">
            <button style="position: absolute; left: 35%; transform: translateX(-50%); width: 100px; height: 100px;" class="btn btn-secondary">Insert</button>
            <button style="position: absolute; left: 48%; transform: translateX(-50%); width: 100px; height: 100px;" class="btn btn-secondary">Update</button>
            <button style="position: absolute; left: 60%; transform: translateX(-50%); width: 100px; height: 100px;" class="btn btn-secondary">Delete</button>
        </div>
                    
        <script type="module" src="insert.js"></script>
    </body>
</html>