<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href=”https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity=”sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T” crossorigin=”anonymous”> -->
        <title>MCT</title>
        <!-- <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"> -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <style>
            body {background-color: beige;}

            .arrow {
                border: solid black;
                border-width: 0 1px 1px 0;
                display: inline-block;
                padding: 2px;

                }

            .up {
                transform: rotate(-135deg);
                -webkit-transform: rotate(-135deg);
            }

            .down {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-md-12">
                <h1 class=>Most Consistent Team</h1>

                <table class="table" cellpadding="10" id="table" style="margin-left: -25%;">
                    <thead>
                        <tr>
                            <th scope="col"># </th>
                            <th scope="col">TEAM_NAME</th>
                            <th scope="col">TEAM_ID</th>
                            <th scope="col">HOME_WINS</th>
                            <th scope="col">AWAY_WINS</th>
                        </tr>
                    </thead>
                    <tbody id="body">
                    </tbody>
                </table>
            </div>
            <p hidden id="data"><%= allUsers %></p>
        </div>
        <script type="module" src="filterConsistent.js"></script>
    </body>
</html>