<!DOCTYPE html>

<!DOCTYPE html>



<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link rel="stylesheet" href=”https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity=”sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T” crossorigin=”anonymous”>-->
        <title>NBA Players</title>
        <!--<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <style>
            body {background-color: beige;}
            /* Add a black background color to the top navigation */
            .topnav {
                background-color: #333;
                overflow: hidden;
            }
            
            /* Style the links inside the navigation bar */
            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 25px;
            }
            
            /* Change the color of links on hover */
            .topnav a:hover {
                background-color: #ddd;
                color: black;
            }
            
            /* Add a color to the active/current link */
            .topnav a.active {
                background-color: sienna;
                color: black;
            }
            html {
                box-sizing: border-box;
              }
              
              *, *:before, *:after {
                box-sizing: inherit;
              }
              
              .column {
                float: left;
                width: 33.3%;
                margin-bottom: 16px;
                padding: 0 8px;
              }
              
              .card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                margin: 8px;
              }
              
              .about-section {
                padding: 50px;
                text-align: center;
                background-color: #474e5d;
                color: white;
              }
              
              .container {
                padding: 0 16px;
              }
              
              .container::after, .row::after {
                content: "";
                clear: both;
                display: table;
              }
              
              .title {
                color: grey;
              }
              
              .button {
                border: none;
                outline: 0;
                display: inline-block;
                padding: 8px;
                color: white;
                background-color: #000;
                text-align: center;
                cursor: pointer;
                width: 100%;
              }
              
              .button:hover {
                background-color: #555;
              }
              
              @media screen and (max-width: 650px) {
                .column {
                  width: 100%;
                  display: block;
                }
              }
        </style>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">
                <img src="https://iconarchive.com/download/i88906/icons8/ios7/Sports-Basketball.ico" alt="Ball" style="max-width: 20px; max-height: 24px">
                Home</a> 
            <a href="/players">
                <img src="https://cdn-icons-png.flaticon.com/512/6909/6909138.png" alt="Jersey" style="max-width: 30px; max-height: 30px">
                Players</a> 
            <a href="/games">
                <img src="https://cdn-icons-png.flaticon.com/512/4165/4165161.png" alt="Court" style="max-width: 30px; max-height: 30px">
                Games</a>
            <a href="/consistent">
                <img src="https://cdn0.iconfinder.com/data/icons/eon-basketball-i-1/32/podium_win_rank_ranking-512.png" alt="Ranking" style="max-width: 30px; max-height: 30px">
                Consistent</a>
            <a href="/admin">
                <img src="https://cdn-icons-png.flaticon.com/512/353/353558.png" alt="Ranking" style="max-width: 30px; max-height: 30px">
                Admin Players</a>
          </div>
          
          <div class="about-section">
            <h1>NBA DATA</h1>
            <p>application by Team Beliebers</p>
            <p>Search for a player, View data analytic charts, and more</p>
          </div>
          
          <h2 style="text-align:center">Our Team</h2>
          <div class="row">

            <div class="column">
              <div class="card">
                <div class="container">
                  <h2>Marod Jackson</h2>
                  <p class="title">Group Member</p>
                  <p>4th year CS student at UC Riverside</p>
                  <p>jane@example.com</p>
                </div>
              </div>
            </div>
          
            <div class="column">
              <div class="card">
                <div class="container">
                  <h2>Smit Patel</h2>
                  <p class="title">Group Member</p>
                  <p>4th year CS student at UC Riverside</p>
                  <p>mike@example.com</p>
                </div>
              </div>
            </div>
            
            <div class="column">
              <div class="card">
                <div class="container">
                  <h2>Hamza Syed</h2>
                  <p class="title">Group Member</p>
                  <p>4th year CS student at UC Riverside</p>
                  <p>john@example.com</p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="container">
                  <h2>Gabrielle John</h2>
                  <p class="title">Group Member</p>
                  <p>4th year CS student at UC Riverside</p>
                  <p>john@example.com</p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="container">
                  <h2>Inderpreet Laly</h2>
                  <p class="title">Group Member</p>
                  <p>4th year CS student at UC Riverside</p>
                  <p>john@example.com</p>
                </div>
              </div>
            </div>

          </div>


          

    </body>
</html>