<!DOCTYPE html>
<html>
<head>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Game Details</title>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
}


/* The Modal (background) */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: whitesmoke;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.input {
  margin: 6px;
  padding: 10px;
  display: block;
  margin: auto;
  color: black;
  font-size: 30px;
}

input {
  width: 90%;
  display: block;
  margin-left: 12px;
  background: none;
  background-color: whitesmoke;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}
#heading {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: black;
  padding-top: 20px;

}
#head {
  border-bottom: 2px solid red;
  height: 100px;
  background-color: beige;
}
#submit {
  background-color: white;
  width: 70px;
}

.button {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
}

.button2 {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 12px;
  margin:auto;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

select {
    width: 500px;
    height: 30px;
}

</style>
</head>
<body>

<div class="container">
    <h1 style= "width: 500px; margin: 0 auto; margin-top: 10%; text-align: center;">Game Details</h1><br>
</div>

<p hidden id="data"><%= allUsers %></p><br>

<div class="container">
    <div class="col-md-12">
        <h1 class=>Find Team Efficiency</h1>
        <h2 class=>Enter Team Identification Number</h2>
        <img src="https://phantom-marca.unidadeditorial.es/ee46d7a1c09b447117f8e83c6e131f31/resize/1320/f/jpg/assets/multimedia/imagenes/2022/02/02/16437899001758.jpg" alt="NBA" width="350" height="230">
        <!-- <form id="form"> -->
            
<!-- Trigger/Open The Modal -->
<button id="efficient" class="button" style="margin-left: 30px;">Most Efficient Teams</button>

<!-- The Modal -->
<div id="efficientModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span onclick="document.getElementById('efficientModal').style.display='none'"
      class="close">&times;
    </span>   
    <div id="efficent_form_page">
      <div id="efficient_form_body">
          <div id="efficient_head">
              <h1 id="efficient_heading">Most Efficent Team</h1>
          </div>
          <br/>
      </div>
    </div>
    <table class="table" cellpadding="10" id="table">
        <thead>
            <tr>
                <th scope="col">Ranking #</th>
                <th scope="col">Team Name</th>
            </tr>
        </thead>
        <tbody id="body">
        </tbody>
    </table>
  </div>
</div>
        <!-- <input class="form-control" id="user-input1" placeholder="Enter player..."> -->
        <br/>
        <select id="user-input">
            <option value="AllTeams">All Teams</option>
            <!-- more options populated here from filterGames.js -->
        </select>
        <button id="buttonid" class="btn btn-secondary">Find NBA Players</button>
        <!-- </form> -->
        <table class="table" cellpadding="10" id="table" style="margin-left: -25%;">
            <thead>
                <tr>
                    <th scope="col"># </th>
                    <th scope="col">HOME_TEAM_ID</th>
                    <th scope="col">VISITOR_TEAM_ID</th>
                    <th scope="col">PTS_home</th>
                    <th scope="col">REB_home</th>
                    <th scope="col">AST_home</th> 
                    <th scope="col">FG_PCT_home</th>
                    <th scope="col">FT_PCT_home</th>
                    <th scope="col">FG3_PCT_home</th>
                    <th scope="col">PTS_away</th>
                    <th scope="col">REB_away</th>
                    <th scope="col">AST_away</th> 
                    <th scope="col">FG_PCT_away</th>
                    <th scope="col">FT_PCT_away</th>
                    <th scope="col">FG3_PCT_away</th>
                </tr>
            </thead>
            <tbody id="body">
            </tbody>
        </table>
    </div>
    <p hidden id="gamesData"><%= allUsers %></p>
</div>

<script>
  // Get the modal
  var modal = document.getElementById("efficientModal");

  // Get the button that opens the modal
  var btn = document.getElementById("efficient");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks the button, open the modal 
  btn.onclick = function() {
    modal.style.display = "block";
  }
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>

<script src="updateGame_Details.js"></script>
<script src="deleteGame_Details.js"></script>
<script src="insertGame_Details.js"></script>
<script type="module" all_data="<%= allUsers %>" src="filterGames.js"></script>  


</body>
</html>
