<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href=”https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity=”sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T” crossorigin=”anonymous”>
        <title>NBA Players</title>
        <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <style>
            body {background-color: beige;}
            .button {
                margin: 0 auto;
                display: inline-block;
                text-align: center;
                background-color: gray;
                border: none;
                color: white;
                padding: 15px 32px;
                text-decoration: none;
                font-size: 16px;
                border-radius: 12px;
              }
            .button:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="col-md-12">
                <h1 class=>Find Team Efficiency</h1>
                <h2 class=>Enter Team Identification Number</h2>
                <img src="https://phantom-marca.unidadeditorial.es/ee46d7a1c09b447117f8e83c6e131f31/resize/1320/f/jpg/assets/multimedia/imagenes/2022/02/02/16437899001758.jpg" alt="NBA" width="350" height="230">
                <!-- <form id="form"> -->
                    <button id="insert" class="button">Most Efficient Teams</button>
                    <input class="form-control" id="user-input" placeholder="Enter player...">
                    <button id="buttonid" class="btn btn-secondary">Find NBA Players</button>
                <!-- </form> -->
                <table class="table" cellpadding="10" id="table">
                    <thead>
                        <tr>
                            <th scope="col">HOME_TEAM_ID</th>
                            <th scope="col">VISITOR_TEAM_ID</th>
                            <th scope="col">PTS_home</th>
                            <th scope="col">REB_home</th>
                            <th scope="col">AST_home</th> 
                            <th scope="col">FG_PCT_home</th>
                            <th scope="col">FT_PCT_home</th>
                            <th scope="col">FG3_PCT_home</th>
                            <th scope="col">PTS_away</th>
                            <th scope="col">REB_away</th>
                            <th scope="col">AST_away</th> 
                            <th scope="col">FG_PCT_away</th>
                            <th scope="col">FT_PCT_away</th>
                            <th scope="col">FG3_PCT_away</th>
                        </tr>
                    </thead>
                    <tbody id="body">
                    </tbody>
                </table>
            </div>
            <p hidden id="gamesData"><%= allUsers %></p>
        </div>
        <script type="module" src="filterPlayer.js"></script>
    </body>
</html>